@import "tailwindcss";

@theme {
    --color-primary: #004B57;
    --color-secondary: #FF8C00;
    --color-mint: #E0F2F1;

    --font-montserrat: "var(--font-montserrat)";
    --font-poppins: "var(--font-poppins)";
}

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #171717;
    }
}

body {
    color: var(--foreground);
    background: var(--mint);
    font-family: var(--font-poppins), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-montserrat), sans-serif;
}